*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-color: rgb(70,142,236);
    font:normal 15pt Arial;
    min-height: 100vh;
}
main{
    display: flex;
    flex-direction: column;
    margin:auto;
    justify-content: center;
    align-items: center;
    width: 500px;
}
header{
    color: white;
    text-align: center;
}
section{
    background: rgba(255,255,255,0.5);
    padding:35px;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    margin:40px auto;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 30px;
}
div{
    text-align: center;
    font-size: 3em;
    font-weight: thin;
}
#imagem{
        box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
        border-radius: 50%;
        max-width: 100%;
}

footer{
    color: white;
    text-align: center;
}
.hora{
    font-size: 50px;
}
.minuto{
    font-size:40px;
}
.segundo{
    font-size:30px;
}
